
.row
  .col-xs-12
    %table.table
      %tr
        %th RA #
        %th Customer
        %th Status
        %th Actions
      - @returns.each do |record|
        %tr
          %td= record.ra_number
          %td= record.customer.email if record.customer
          %td= record.status
          %td= link_to "view", edit_return_path(record)
