#adverse-event-modal {
  input, textarea {
    width: 100%;
    margin-bottom: 40px;
  }
  input[type=checkbox] {
    width: auto;
    margin-bottom: 0px;
  }
  #adverse_event_other_therapies {
    margin-bottom: 0px;
  }
}
