// Place all the styles related to the Complaint controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact-attempts {
  margin-bottom: 100px;
  .date-and-name {
    font-size: 12px;
    color: #777;
  }
  .note-text {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  h4 a {
    font-size: 13px;
  }
}

.paperclip-image-link p {
  margin-bottom: 0px;
}
.remove-paperclip-image {
  color: red;
  text-decoration: underline;
  font-size: 10px;
}
