#dashboard{
  margin-bottom: 100px;
  #complaints-section {
    .btn {
      margin-bottom: 10px;
      float: right;
      margin-top: -40px;
    }
  }
}

#welcome-page {
  form {
    .row {
      margin-bottom: 10px;
    }
  }
}

form#new_user.new_user {
  div {
    margin-bottom: 10px;
  }
}