%nav.navbar.navbar-default{role: "navigation"}
  .container
    %ul.nav.navbar-nav
      %li
        =link_to "Dashboard", dashboard_path, class: "navbar-link"
    %ul.nav.navbar-nav.navbar-right
      %li
        - if user_signed_in?
          %a.navbar-link{class: "dropdown-toggle", "data-toggle" => "dropdown"}
            = current_user.email
            %b.caret
          %ul.dropdown-menu
            %li
              =link_to "Account", account_path, class: "navbar-link"
            %li
              =link_to "Logout", logout_path
